html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #013263;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #0050A0;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #013263;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

section {
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  header {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .logout-btn {
    color: rgb(0,80,160);
  }

  .logout-btn:hover {
	text-decoration: underline;
  }

  main {
    margin-top: 100px;
    padding: 20px;
  }


  .form-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }